html {
      position: relative;
      min-height: 100%;}

body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;}

.footer {
      text-align: center;
      width: 100%;
      color: #000000;
      background-color: #d3d3d3;
      font-size: 80%;
      position: absolute;
      margin: auto;
      bottom: 0px;}

.img {
      display: block;
      margin-left: auto;
      margin-right: auto;}

main {
      /* Margin bottom by footer height */
      margin-bottom: 180px;
      padding-bottom: 20px;
      padding-top: 10px;
      background-color:#ADC1C6;}

.navbar {
      padding: 10px;}

.a_link {
      font-size: 120%;}

h2 {
    text-align: center;
      }

.h6_style {
        text-align: right;
        margin-right: 10px;
      }

.a_header { text-decoration: none; }

.site-header {
        padding-bottom: 10px;
      }

.badge_style
      {
        color: #FF0000;
      }
